* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: url(images/itsbitsbackground2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	border: 2px;
	color: #7a31cc;
	height: 48px;
	line-height: 48px;
	padding: 10px;
	position: relative;
	width: 400px;
}
p {
	border: 2px;
	color: #cc8825;
	height: 100px;
	line-height: 1.5;
	padding: 10px;
	position: left;
	width: 400px;
}
#logo {
	background-repeat: no-repeat;
	position:absolute;
	top:40;
	left:40;
}
.intro {
	padding-top: 273px;
	padding-left: 200px
}
