
body {
	background: url(images/background.jpg);
	background-color: #51596C;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	font-color: #ffffff;
	font-family: sans-serif;
	font-size: 20px;
	height: 20px;
	position: relative;
	text-align: left;		
}
hr {
	color: #FF0000;	
	margin-left: 1px;
	width: 35px;
}
#stripes {
	background: url(images/stripes.png);
	background-repeat: repeat-x;
	height: 13px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
.taasky {
	color: #ffffff;
	padding-top: 250px;
	padding-left: 100px
}
