
body {
	background: url(images/background.jpg);
	background-color: #51596C;
	background-size: cover;
	background-repeat: no-repeat;
	font-color: #ffffff;
	font-family: sans-serif;
	font-size: 20px;
}
hr {
<<<<<<< Updated upstream
	border:1px #fd6e6e solid;
=======
	border: 1px #ff0000 solid;
>>>>>>> Stashed changes
	margin-left: 1px;
	width: 35px;
}
#stripes {
	background: url(images/stripes.png);
	background-repeat: repeat-x;
	height: 13px;
<<<<<<< Updated upstream
	width:100%;
	position:absolute;
	top:0;
	left:0;
=======
	margin: 0 auto auto 0;
	width: 100%;
>>>>>>> Stashed changes
}
.taasky {
	color: #ffffff;
	padding-top: 250px;
	padding-left: 100px
}
